.calendar-title {
  font-size: 26px;
  color: var(--color-accent);
}

.calendar-title-container {
  height: 8vh;
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.calendar-title-box {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  width: 23%;
}

.month-button {
  display: flex;
  margin: 28px;
}

* {
  font-family: Soleil, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  width: calc(100% / 7);
  color: var(--color-secondary);
}

.table-container {
  width: 100%;
  border-bottom: 1px solid var(--color-primary);
}

.calendar-container {
  height: 83.5vh;
  background-color: var(--color-secondary);
}

.calendar-headers {
  border: 1px solid hsl(0,0%, 80%);
  font-size: 20px;
}

th.calendar-day-names {
  color: var(--color-primary);
  border-right: 1px solid hsl(0,0%, 80%);
  padding-bottom: 5px;
  padding-top: 8px;
}

.calendar {
  width: 100%;
}

.calendar-day {
  height: calc(56vh / 4);
  width: 100%;
  display: block;
  text-align: left;

}

td {
  border: 1px solid hsl(0,0%, 78%);
}

.day-number {
  font-size: 18px;
  text-align: right;
  padding: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-top: 0;
  color: var(--color-tertiary);
}


.employee-name {
 color: var(--color-primary);
}


.employee-name .employee-time {
  font-size: 12px;
}

.employee-and-time {
  margin-bottom: 18px;
  margin-right: 5px;
}

.employee-time {
  color: hsl(0,0%, 40%);
}

.employee-container {
  height: 73%;
  overflow-y: auto;
  /*background-color: hsl(0, 0%, 40%);*/
  margin-left: 8px;
  overflow-x: hidden;
}

.employee-name, .employee-time {
  white-space: nowrap;
  width: 100%;
  margin: 0;
}



/* Targeting the scrollbar */
.employee-container::-webkit-scrollbar {
  width: 0px;
}

/* Styling the scrollbar track (background of the scrollbar) */
.employee-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 

}

/* Styling the scrollbar thumb (the draggable part) */
.employee-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;

}

/* On hover, you can change the thumb color to make it more noticeable */
.employee-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;

}

.non-calendar-day {
  height: calc(56vh / 4);
  background-color: hsl(0,0%,97%);
  width: 100%;
  display: block;
  text-align: left;
}

:root {
  --ff: "Montserrat", sans-serif;
  --ff2: "Fira Code", monospace;
  --h1: 800 2rem/1.2em var(--ff);
  --p: 400 1rem/1.5em var(--ff);
  --p-code: 300 0.7rem/2em var(--ff2);
  --hue: 0;
  --tertiary-hue: calc(var(--hue) + 300);
  --accent-hue: calc(var(--hue) + 60);
  --primary-color: hsl(var(--hue), 50%, 90%);
  --pre-primary-color: hsl(var(--hue), 50%, 95%);
  --secondary-color: hsl(var(--hue), 50%, 10%);
  --tertiary-color: hsl(var(--tertiary-hue), 80%, 20%);
  --accent-color: hsl(var(--accent-hue), 80%, 20%);
}
.dark {
  --primary-color: hsl(var(--hue), 50%, 10%);
  --pre-primary-color: hsl(var(--hue), 50%, 15%);
  --secondary-color: hsl(var(--hue), 50%, 90%);
  --tertiary-color: hsl(var(--tertiary-hue), 80%, 80%);
  --accent-color: hsl(var(--accent-hue), 80%, 80%);
}

.employees {
  display: none;
  margin: 4px;
  font-size: 18px;
  margin-top: 26px;
}

.filter-button {
  margin-top: 26px;
  font-size: 18px;

}

.employee-list {
  width: 50%;
  text-align: left;
  margin-left: 100px;
  overflow: scroll;
}